---
export interface Props {
    title: string;
    description: string;
    keywords: string;
}

import {ViewTransitions} from 'astro:transitions';
const {title, description, keywords} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content={description}/>
    <meta name="keywords" content={keywords}/>
    <link rel="icon" type="image/svg+xml" href="/favicon.png"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TJCMS4X3');</script>
    <ViewTransitions/>
    <!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TJCMS4X3"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<slot/>
</body>
</html>
<style is:global>
    button {
        @apply transition-colors duration-300 ease-in-out;
    }

    .animate-in {
        animation: animateIn 0.3s ease 0.15s both;
    }

    @keyframes animateIn {
        from {
            opacity: 0;
            transform: translateY(10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    body {
        min-height: 100vh;
        font-family: 'Inter', 'Roboto', 'Helvetica', 'Arial', sans-serif;
        background: #000;
        color: white;
    }

    .get-started:hover button {
        background-color: #000;
        color: #fff;
    }

    @font-face {
        font-family: 'LastikRegular';
        src: url('/fonts/Lastik-Regular.woff2') format('woff2'),
        url('/fonts/Lastik-Regular.woff') format('woff'),
        url('/fonts/Lastik-Regular.ttf') format('truetype'),
        url('/fonts/Lastik-Regular.otf') format('opentype'),
        url('/fonts/Lastik-Regular.eot') format('embedded-opentype');
        font-style: normal;
        font-display: swap;
    }

    .title-font {
        font-family: 'LastikRegular', sans-serif;
    }

    a.link:hover {
        background: linear-gradient(to right, #4277f8, #bd5b8f, pink);
        -webkit-background-clip: text;
        color: transparent;
        scale: 1.03;
    }

    h1 {
        font-family: 'LastikRegular', sans-serif;
    }

    @font-face {
        font-family: 'FuzzyBubbles';
        src: url('/fonts/FuzzyBubbles-Bold.woff2') format('woff2'),
        url('/fonts/FuzzyBubbles-Bold.woff') format('woff'),
        url('/fonts/FuzzyBubbles-Bold.ttf') format('truetype'),
        url('/fonts/FuzzyBubbles-Bold.otf') format('opentype'),
        url('/fonts/FuzzyBubbles-Bold.eot') format('embedded-opentype');
        font-style: normal;
        font-display: swap;
    }

    .card-title {
        font-family: 'FuzzyBubbles', roboto, sans-serif;
    }

</style>
